{% extends 'base.html.twig' %}

{% block title %}Voyageur+ | Accueil{% endblock %}

{% block body %}
  <div class="grid">
    <hgroup>
      <h1>La solution n°1 pour vous assurer un voyage inoubliable !</h1> <br>
      <p>Bienvenue sur notre plateforme de planification de voyages nouvelle génération, propulsée par <b>l'intelligence artificielle.</b> <br>
        Découvrez notre outil permettant d'optimiser votre expérience de voyage.
        Dites adieu aux heures passées à chercher les meilleures activités à faire lors de votre séjour, car nous nous sommes occupés de tout pour vous !</p>
        {# <div class="grid">
          <a href="{{path('app_generate_plan')}}">
            <button>Démarrer</buttton>
          </a>
          <a href="{{path('about')}}">
            <button class="outline">En savoir plus</buttton>
          </a>
        </div> #}
        <div class="grid container-btn">
          <a href="{{ path('app_generate_plan') }}" class="button full-width-button-classic">Démarrer</a>
          <a href="{{ path('about') }}" class="button outline full-width-button-outline">En savoir plus</a>
        </div>
    </hgroup>
    <div>
      <img src="{{asset('./images/banner.png')}}" alt="Illustration 3D Voyage">
    </div>
  </div>
  <hgroup>
    <h2>Notre promesse</h2>
    <p>Notre application a été créée pour libérer le voyageur qui sommeille en vous. 
      Nous vous promettons une expérience de voyage exceptionnelle, taillée sur mesure pour répondre à vos envies et à vos besoins. 
      Dites-nous où vous rêvez d'aller, définissez vos préférences et laissez la magie opérer. 
      Notre plateforme intelligente vous guidera vers des destinations de rêve, des activités inoubliables et des aventures adaptées
      à votre style de voyage.
      <br>

      La promesse que nous vous faisons, c'est que votre voyage ne sera plus jamais le même. 
      Vous profiterez d'une planification sans stress, de recommandations pertinentes et d'une expérience de voyage inégalée. 
      Notre application simplifie, organise et personnalise chaque aspect de votre aventure. Elle devient votre compagnon de voyage,
      votre guide personnel, et votre accès à un monde de découvertes.
      <br>
      
      Que vous voyagiez en solo, en couple, en famille ou entre amis, que vous soyez un explorateur chevronné ou un novice curieux, notre application est conçue pour vous. Elle vous offre la liberté de voyager en toute confiance, de réaliser vos rêves et de créer des souvenirs inoubliables. Rejoignez-nous dans cette aventure et explorez le monde comme jamais auparavant, avec Voyageur+</p>
  </hgroup>


  <hgroup>
  <h2>Nos client(e)s en parlent pour nous !</h2>
  <div class="grid">
    <article id="article">
      <h3> <em>«Mon voyage à Bali était incroyable»</em> </h3>
      <p>
        J'ai récemment utilisé Voyageur+ pour planifier mon voyage à Bali, et cela a vraiment transformé mon expérience. 
        Dès le moment où j'ai créé mon profil et répondu au questionnaire personnalisé, j'ai su que ce voyage serait spécial. 
        L'application m'a recommandé des plages paradisiaques que je n'aurais jamais découvertes autrement, des restaurants locaux incroyables et des expériences authentiques, loin des foules touristiques.
        <br>

        Grâce à l'application, j'ai pu explorer Bali à mon rythme, en fonction de mes préférences. 
        C'était comme avoir un guide de voyage personnel dans ma poche. 
        J'ai également rencontré des voyageurs partageant les mêmes intérêts grâce à la communauté de l'application. <br><br>
        En fin de compte, j'ai vécu un voyage à Bali inoubliable, rempli de moments magiques que je chérirai pour toujours. <br><br>
        Voyageur+ a rendu mon rêve de Bali réalité, et je ne peux plus m'en passer pour mes prochaines aventures.
        <br><br>
      </p>
      <footer><small>Par Laura M.</small></footer>
    </article>

    <article id="article">
      <h3><em>«Un super voyage au Japon avec l'outil»</em></h3>
      <p>
        Mon récent voyage au Japon avec Voyageur+ a été une expérience tout simplement extraordinaire. 
        En tant que voyageur passionné, j'ai été agréablement surpris par 
        la manière dont cette application a su répondre à mes attentes. 
        Elle m'a guidé vers des coins cachés du Japon, m'a aidé à comprendre 
        la culture locale et m'a permis de goûter à une cuisine incroyable.
        <br><br>
        Ce que j'ai particulièrement aimé, c'est la flexibilité. 
        L'application a parfaitement compris mon amour pour la nature et la photographie, 
        et elle m'a orienté vers des parcs nationaux magnifiques et des villages pittoresques. 
        J'ai pu voyager à mon rythme, sans stress ni précipitation.
        <br><br>
        
        Les autres voyageurs de la communauté Voyageur+ étaient également très utiles, 
        partageant des conseils précieux et des anecdotes personnelles. 
        En résumé, mon voyage au Japon n'aurait pas été le même sans cette application. 
        Je suis ravi de l'avoir découverte, et je la recommande à tous les passionnés de voyage 
        qui cherchent à vivre des aventures authentiques.
        <br><br>
      </p>
      <footer><small>Par Kévin N.</small></footer>
    </article>
  </div>
  </hgroup>

  <hgroup>
    <h3>S'abonner</h3>
    <small><p>Abonnez vous à la newsletter pour être au courant des prochaines promotions, mises à jours et jeux concours. 🙂</p></small>
  </hgroup>



      {{ form_start(formNewsletter) }}
      <div class="grid">
      {{ form_row(formNewsletter.email) }}
      {{form_row(formNewsletter.submit)}}
    
    {{ form_end(formNewsletter) }}
  </div>

{% endblock %}
