{% extends 'base.html.twig' %}

{% block title %}Plannifiez vos vacances de rêve{% endblock %}

{% block body %}
<h1>🚀 Plannifiez vos vacances de rêve 🚀</h1>

    {{form_start(form)}}
        {{form_row(form.destination)}}
        {{form_row(form.submit)}}
    {{form_end(form)}}

<div id="response">
    {% if json %}
       <article id="article">
        <p>{{ json }}</p> 
          <footer><small>Fait par <b>Voyageur+</b></small></footer>
       </article> 
    {% endif %}
</div>
{% endblock %}
