<div class="container-fluid">
    {% if app.user %}
    <nav>
        <ul>
            <a href="{{path('app_home')}}" class="no-styled-link"><li><strong>Voyageur +</strong></li></a>
        </ul>
        <ul>
            <li><a href="{{path('app_generate_plan')}}">Pannificateur IA</a></li>
            <li><a href="{{path('app_voyages')}}">Mes voyages</a></li>
            <li><a href="{{path('app_contact')}}" role="button">Contact</a></li>
            <li><a href="{{path('app_logout')}}">Deconnexion</a></li>
            <li><a id="theme_switcher"></a></li>
        </ul>
    </nav>
    {% else %}
    <nav>
        <ul>
            <a href="{{path('app_home')}}" class="no-styled-link"><li><strong>Voyage +</strong></li></a>
        </ul>
        <ul>
            <li><a href="{{path('app_login')}}">Connexion</a></li>
            <li><a href="{{path('app_register')}}">Inscription</a></li>
            <li><a href="{{path('app_contact')}}" role="button">Contact</a></li>
            <li><a id="theme_switcher"></a></li>
        </ul>
    </nav>
    {% endif %}
</div>